:root {
	/* gray colors */
	--g-50: #fafafa;
	--g-100: #f5f5f5;
	--g-200: #e5e5e5;
	--g-300: #d4d4d4;
	--g-400: #a3a3a3;
	--g-500: #737373;
	--g-600: #525252;
	--g-700: #404040;
	--g-800: #262626;
	--g-900: #171717;
	/* yellow colors */
	--y-50: #fefce8;
	--y-100: #fef9c3;
	--y-200: #fef08a;
	--y-300: #fde047;
	--y-400: #facc15;
	--y-500: #eab308;
	--y-600: #ca8a04;
	--y-700: #a16207;
	--y-800: #854d0e;
	--y-900: #713f12;
	/* lime colors */
	--l-50: #f7fee7;
	--l-100: #ecfccb;
	--l-200: #d9f99d;
	--l-300: #bef264;
	--l-400: #a3e635;
	--l-500: #84cc16;
	--l-600: #65a30d;
	--l-700: #4d7c0f;
	--l-800: #3f6212;
	--l-900: #365314;
}
