@import "constants.css";

footer {
	width: 100%;
	text-align: left;
	margin-top: 4rem;
	background-color: var(--g-900);
	position: relative;
}

footer .main-container {
	width: 97.5%;
	position: relative;
	border-radius: 2rem;
	max-width: 1200px;
	margin: auto;
	padding: 4rem 2rem 3.5rem;
	margin-top: auto;
}

footer .main-container .footer-top {
	margin-bottom: 1.5rem;
}

footer .main-container .footer-top img {
	margin-bottom: 1rem;
	width: 225px;
}

footer .main-container .footer-top .footer-icons {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

footer .main-container .footer-top .footer-icons a {
	margin-right: 1rem;
	margin-bottom: 0.25rem;
	color: var(--g-200);
}

footer .main-container .footer-bottom {
	color: white;
	display: flex;
	flex-direction: column;
}

footer .main-container .footer-bottom p {
	font-weight: 500;
	color: var(--g-400);
	margin-bottom: 1rem;
	text-align: center;
}

footer .main-container .footer-bottom .footer-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer .main-container .footer-bottom .footer-links a {
	font-weight: 400;
}

footer .main-container .footer-bottom .footer-links a:hover {
	text-decoration: underline;
}

footer .main-container .footer-bottom .footer-links a:not(:last-child) {
	padding-right: 0.5rem;
	margin-right: 0.5rem;
	border-right: 1px solid grey;
}

@media only screen and (min-width: 768px) {
	footer .main-container .footer-top .footer-icons {
		flex-direction: row;
	}
	footer .main-container .footer-top .footer-icons a {
		margin-bottom: 0;
	}
	footer .main-container .footer-bottom {
		flex-direction: row;
	}
	footer .main-container .footer-bottom p {
		margin-bottom: 0;
	}
	footer .main-container .footer-bottom .footer-links {
		margin-left: auto;
	}
	footer .main-container .footer-bottom .footer-links a:not(:last-child) {
		padding-right: 1rem;
		margin-right: 1rem;
		border-right: 1px solid grey;
	}
}
